@using SDMetaUI.Models;

<div @ref="containerRef" @onkeydown="KeyboardEventHandler">
	@if (selectedFile != null)
	{
		<HxModal @ref="hxModal" Fullscreen="ModalFullscreen.Always" Backdrop="ModalBackdrop.False">
			<BodyTemplate>
				<div @onclick="() => hxModal.HideAsync()" class="text-center img-container">
					<img src="@selectedFile.GetImageUrl()" class="img-fit" />
				</div>
			</BodyTemplate>
		</HxModal>
	}
</div>
@code {
	[Parameter]
	public PngFileViewModel selectedFile { get; set; }
	[Parameter]
	public EventCallback<KeyboardEventArgs> onLeft { get; set; }
	[Parameter]
	public EventCallback<KeyboardEventArgs> onRight { get; set; }

	private ElementReference containerRef;
	private HxModal? hxModal;

	public Task ShowAsync()
	{
		return hxModal.ShowAsync();
	}

	private async void KeyboardEventHandler(KeyboardEventArgs args)
	{
		if (args.Code == "ArrowLeft") onLeft.InvokeAsync(args);
		else if (args.Code == "ArrowRight") onRight.InvokeAsync(args);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await containerRef.FocusAsync();
		}
	}
}
