@using SDMetaUI.Models;
<HxModal @ref="hxModal" Fullscreen="ModalFullscreen.Always" Backdrop="ModalBackdrop.False">
	<BodyTemplate>
		<div @onclick="() => hxModal.HideAsync()" style="width: 100%; height: 100%; background-color:gba(0, 0, 0, 0.1);" class="text-center">
			<img src="@selectedFile.GetImageUrl()" class="img-fit" />
		</div>
	</BodyTemplate>
</HxModal>

@code {
	[Parameter]
	public PngFileViewModel selectedFile { get; set; }

	private HxModal? hxModal;

	public Task ShowAsync()
	{
		return hxModal.ShowAsync();
	}
}
