@using SDMetaUI.Models;

<div @ref="containerRef" @onkeydown="KeyboardEventHandler">
	@if (selectedFile != null)
	{
		<HxModal @ref="hxModal" Fullscreen="ModalFullscreen.Always" Backdrop="ModalBackdrop.False"
			OnClosed=@(() => IsOpen = false)
			OnShown=@(() => IsOpen = true)>
			<BodyTemplate>
				<div @onclick="() => hxModal.HideAsync()" class="text-center img-container">
					<img src="@selectedFile.ImageUrl" class="img-fit" />
				</div>
			</BodyTemplate>
		</HxModal>
	}
</div>
@code {

}
