img {
    padding: 0px;
    border-radius: 6px;
    margin: 8px;
}

    img.selected {
        box-shadow: 0px 0px 0px 5px var(--bs-info);
    }
        img.selected.expanded {

        }

.img-container {
    display: inline-block;
    position: relative;
}