@using SDMetaUI.Models;
@using SDMetaUI.Services;
<div class="wrapper">
	<img src="@file.ThumbnailUrl" class="@(selected ? "selected" : "")" width="@ThumbnailService.ThumbnailSize" height="@ThumbnailService.ThumbnailSize" @onclick="(e) => onclick.InvokeAsync(e)" />
</div>
@code {
	[Parameter]
	public PngFileViewModel file { get; set; }

	[Parameter]
	public bool selected { get; set; }

	[Parameter]
	public EventCallback<MouseEventArgs> onclick { get; set; }
}
