.menu-bar {
    background: rgba(225, 225, 225, 0.9);
    border-bottom-color: rgba(128, 128, 128, 0.75);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.thumbnail-background {
    background: #e0e0e0;
}

.expanded-background {
    background-color: #606060;
}

.expanded-tab {
    display: inline-block;
    background-color: #606060;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.expanded-top {
    padding-top: 8px;
}

.expanded-bottom {
    padding-bottom: 8px;
}