@page "/"
@using BlazorPro.BlazorSize;
@using SDMetaTool.Processors;
@using SDMetaUI.Models;
@using SDMetaTool;
@using System.IO.Abstractions;
@using System.Web;
@using SDMetaTool.Cache;
@using SDMetaUI.Services;
@using SDMetaUI.Shared;

@implements IDisposable;

@inject IPngFileDataSource pngfileDataSource
@inject Rescan rescan
@inject IConfiguration configuration;
@inject IThumbnailService thumbnailService;
@inject ILogger<Index> logger;
@inject IResizeListener resizeListener;
@inject PngFileViewModelBuilder pngFileViewModelBuilder;

<PageTitle>Gallery</PageTitle>

@if (viewModel.HasData == false)
{
	<div class="container" style="height: 100vh">
		<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
	</div>
}
else
{
	<div class="container-fluid sticky-top">
		<div class="row p-2" style="position: sticky; top: 0; z-index: 1; background: rgba(128, 128, 128, 0.5); border-bottom-color: rgba(128, 128, 128, 0.75); border-bottom-width: 1px; border-bottom-style: solid;">
			<div class="col-3">
				<label class="visually-hidden" for="autoSizingInput">Filter</label>
				<input type="search" @oninput="onInputDebounced" class="form-control" id="autoSizingInput" placeholder="filter">
			</div>
			<div class="col-auto">
				<label class="visually-hidden" for="autoSizingSelect">Preference</label>
				<select class="form-select" id="autoSizingSelect" @onchange="OnSelectGroupMode">
					@foreach (var template in GroupModes)
					{
						<option value=@template>@template</option>
					}
				</select>
			</div>
			<div class="col-auto">
				<HxButton Outline="false" Icon="BootstrapIcon.ArrowClockwise" Text="Rescan" Color="ThemeColor.Primary" @onclick="Rescan" />
			</div>
			<div class="col-auto ms-auto py-1">
				<h6>
					@if (viewModel.FilteredFileCount < viewModel.AllFileCount)
					{
						<text>
							@viewModel.FilteredFileCount of
						</text>
					}
					@viewModel.AllFileCount items
				</h6>
			</div>
		</div>
	</div>
	@if (viewModel.ChunkedFiles != null)
	{
		<Virtualize Items=@viewModel.ChunkedFiles Context="files" OverscanCount="5" ItemSize="191">
			@foreach (var file in files)
			{
				var selected = viewModel.SelectedFile == file;
				@if (viewModel.IsGrouped == false)
				{
					<Thumbnail file=@file selected=@selected onclick="(e) => imageClick(file)" @key=@file />
				}
				else
				{
					<Thumbnail file=@file selected=@selected onclick="(e) => imageClickParent(file)" @key=@file />

					@if (file.Expanded && (viewModel.Expandedfiles?.Any() ?? false))
					{
						<Divider Text=@(this.viewModel.Expandedfiles.Count.ToString() + " gens of this prompt")></Divider>
						foreach (var expandedFile in viewModel.Expandedfiles)
						{
							<Thumbnail file=@expandedFile selected=@(viewModel.SelectedFile == expandedFile) onclick="(e) => imageClick(expandedFile)" />
						}
						<Divider></Divider>
					}
				}
			}
		</Virtualize>
	}
	<HxOffcanvas @ref="offcanvasEnd" Placement="OffcanvasPlacement.End" ScrollingEnabled="true" Backdrop="OffcanvasBackdrop.False">
		<BodyTemplate>
			@if (viewModel.SelectedFile != null)
			{
				<FilePanel selectedFile="@viewModel.SelectedFile" onDelete="() => imageDelete()" onFullScreenView="(e) => fullScreenView.ShowAsync()" />
			}
		</BodyTemplate>
	</HxOffcanvas>

	<FullScreenView @ref=@fullScreenView selectedFile=@viewModel.SelectedFile onLeft=@leftKey onRight=@rightKey />
}
@code {

	private HxOffcanvas? offcanvasEnd;
	private FullScreenView? fullScreenView;

	static List<string> GroupModes = new List<string>() {
		"Each gen",
		"Grouped by prompt"
	};
	string GroupMode = GroupModes.First();
	GalleryViewModel viewModel = new GalleryViewModel();

	Action<ChangeEventArgs> onInputDebounced;

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			onInputDebounced = Debounce<ChangeEventArgs>(e =>
			{
				this.InvokeAsync(() =>
				{
					viewModel.Filter = (string)e.Value;
					this.StateHasChanged();
				});
			}, TimeSpan.FromMilliseconds(300));

			resizeListener.OnResized += (sender, size) =>
			{
				viewModel.Width = size.Width;
				this.StateHasChanged();
			};

			//viewModel.Width = (await resizeListener.GetBrowserWindowSize()).Width;
			LoadData();
			this.StateHasChanged();
		}

		await base.OnAfterRenderAsync(firstRender);
	}

	private void LoadData()
	{
		var data = pngfileDataSource.GetAll().Where(p => p.Exists == true).OrderByDescending(p => p.LastUpdated).Select(p => pngFileViewModelBuilder.BuildModel(p)).ToList();
		viewModel.Initialize(data);
	}

	void OnSelectGroupMode(ChangeEventArgs e)
	{
		GroupMode = e.Value.ToString();
		viewModel.IsGrouped = this.IsGrouped();
	}

	private bool IsGrouped()
	{
		return GroupMode == GroupModes[1];
	}

	private void imageClickParent(PngFileViewModel model)
	{
		this.viewModel.ToggleExpandedState(model);
		this.viewModel.SelectedFile = model;
	}

	private async void imageClick(PngFileViewModel model)
	{
		if (model == viewModel.SelectedFile)
		{
			await fullScreenView.ShowAsync();
		}
		else
		{
			this.viewModel.SelectedFile = model;
			await offcanvasEnd.ShowAsync();
		}
	}

	private async Task Rescan()
	{
		await Task.Run(() =>
		{
			var directory = configuration["ImageDir"];
			this.rescan.ProcessPngFiles(directory);
			logger.LogInformation("Rescan done");
		});
		LoadData();
	}

	public void Dispose()
	{
		pngfileDataSource.Dispose();
	}

	private async void imageDelete()
	{
		if (this.viewModel.SelectedFile != null)
		{
			await offcanvasEnd.HideAsync();

			var filename = this.viewModel.SelectedFile.FileName;

			File.Delete(filename);
			var original = pngfileDataSource.ReadPngFile(filename);
			original.Exists = false;
			pngfileDataSource.WritePngFile(original);
			this.thumbnailService.Delete(filename);

			this.viewModel.RemoveFile();
			this.StateHasChanged();
		}
	}

	private async void leftKey()
	{
		viewModel.GetPrevious();
	}

	private async void rightKey()
	{
		viewModel.GetNext();
	}

	// https://www.meziantou.net/debouncing-throttling-javascript-events-in-a-blazor-application.htm
	Action<T> Debounce<T>(Action<T> action, TimeSpan interval)
	{
		if (action == null) throw new ArgumentNullException(nameof(action));

		var last = 0;
		return arg =>
		{
			var current = System.Threading.Interlocked.Increment(ref last);
			Task.Delay(interval).ContinueWith(task =>
			{
				if (current == last)
				{
					action(arg);
				}
			});
		};
	}
}
