.menu-bar {
    background-color: var(--bs-body-bg);
}

.thumbnail-background {
    background: var(--bs-gray-600);
}

.expanded-background {
    background-color: var(--bs-gray-800);
}

.expanded-tab {
    display: inline-block;
    background-color: var(--bs-gray-800);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.expanded-top {
    padding-top: 8px;
}

.expanded-bottom {
    padding-bottom: 8px;
}

.boffcanvas {
    position: fixed;
    bottom: 0;
    /* z-index: var(--bs-offcanvas-zindex); */
    display: flex;
/*    flex-direction: column;*/
    /* max-width: 100%; */
    /* color: var(--bs-offcanvas-color); */
    /* visibility: hidden; */
    /*    background-color: rgba(225, 225, 225, 0.95);*/
    /* background-clip: padding-box; */
    /* outline: 0; */
    /* transition: transform .3s ease-in-out; */
    background-color: var(--bs-body-bg);
    width: 100%;
    max-height: 50%;
}

.container-fluid {
    padding-left: 8px;
    padding-right: 8px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}